/*
custom-primary: #6D64FF
custom-secondary: #A759FF
custom-Complementrylement: #FFD54A
*/
body {
  font-family: 'Montserrat', sans-serif;
}

/**
 * Custom colors
 */
.custom-primary-text {
  color: #6D64FF !important;
}
.custom-primary-bg {
  background-color: #6D64FF !important;
}
.custom-secondary-text {
  color: #A759FF !important;
}
.custom-secondary-bg {
  background-color: #A759FF !important;
}
.custom-complementry-text {
  color: #FFD54A !important;
}
.custom-complementry-bg {
  background-color: #FFD54A !important;
}

/**
 * Menu
 */
.custom-toggler.navbar-toggler {
  border-color: rgb(0,0,0);
}
.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.logo-font{
  font-family: 'Righteous', cursive;
  font-size: 35px;
}
.vertical-divider {
  height: 45px;
  width: 1px;
}

/**
 * Header / Hero
 */
.section {
  height: 85vh;
  min-height: 400px;
}
.tilt-right {
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

/**
 * Section Splitter
 */
.section-splitter {
  height: 100px;
}

/**
 * Colors Sections
 */
.color-box {
  min-width: 75px;
  min-height: 75px;
  max-width: 75px;
  max-height: 75px;
}

/**
 * Input Fields
 */
::-webkit-input-placeholder {
  color: #343a40;
}
::-moz-placeholder {
  color: #343a40;
}
:-ms-input-placeholder {
  color: #343a40;
}
:-moz-placeholder {
  color: #343a40;
}

input {
  font-weight: bold;
  font-size: 15px;
  min-width: 200px;
  min-height: 35px;
  padding: 10px 25px 10px 15px;
  border-radius: 5px;
  outline: none;
  border: solid 1px #343a40;
  color: #343a40;
}
input.error ::-webkit-input-placeholder {
  color: #343a40;
}
::-moz-placeholder {
  color: #343a40;
}
:-ms-input-placeholder {
  color: #343a40;
}
:-moz-placeholder {
  color: #343a40;
}

input.input-error:valid {
  color: #dc3545;
  border-color: #dc3545;
}
input.input-success:valid {
  color: #28A745;
  border-color: #28A745;
}
input:disabled {
  border: solid 2px #f8f9fa;
  background-color: #f8f9fa;
}
/**
 * Typography
 */
.devui-tag {
  font-size: 0.7em;
}


/**
 * Checbox
 */
.checkbox input {
  display: none;
  z-index: -9999;
}
/* .checkbox {
  display: block;
} */
.checkbox span {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #ffffff;
  border: 2px solid #343a40;
  border-radius: 5px;
}
.checkbox input:checked + span {
  background: #343a40;
  background-image: url("http://developer-ui.andrewdetorres.com/Assets/images/Checkbox-mark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.checkbox input:disabled + span {
  background: #d6d6d6;
  border: 2px solid #d6d6d6;
}
.checkbox input:disabled:checked + span {
  background: #d6d6d6;
  border: 2px solid #d6d6d6;
  background-image: url("http://developer-ui.andrewdetorres.com/Assets/images/Checkbox-mark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}