/*
custom-primary: #6D64FF
custom-secondary: #A759FF
custom-Complementrylement: #FFD54A
*/
body {
  font-family: 'Montserrat', sans-serif;
}

.dropdown-toggle::after {
  display:none;
}

/**
 * Menu
 */
.custom-toggler.navbar-toggler {
  border-color: rgb(0,0,0);
}
.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.logo-font{
  font-family: 'Righteous', cursive;
  font-size: 35px;
}
.vertical-divider {
  height: 45px;
  width: 1px;
}
.avatar {
  width: 40px;
  height: 40px;
  pointer-events:none;
}
@media only screen and (max-width:992px) {
	.vertical-divider {
    display: none;
  }
}
/**
 * Header / Hero
 */
.section {
  height: 90vh;
  min-height: 400px;
}
.tilt-right {
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
}

/**
 * Section Splitter
 */
.section-splitter {
  height: 100px;
}

/**
 * Colors Sections
 */
.color-box {
  min-width: 75px;
  min-height: 75px;
  max-width: 75px;
  max-height: 75px;
}

/**
 * Input Fields
 */
::-webkit-input-placeholder {
  color: #343a40;
}
::-moz-placeholder {
  color: #343a40;
}
:-ms-input-placeholder {
  color: #343a40;
}
:-moz-placeholder {
  color: #343a40;
}

input.error ::-webkit-input-placeholder {
  color: #343a40;
}
::-moz-placeholder {
  color: #343a40;
}
:-ms-input-placeholder {
  color: #343a40;
}
:-moz-placeholder {
  color: #343a40;
}

.input-error:valid {
  color: #dc3545;
  border-color: #dc3545;
}
.input-success:valid {
  color: #28A745;
  border-color: #28A745;
}
input:disabled {
  border-bottom: 1px solid #afafaf;
}
input:disabled ~ label{
  color: #afafaf;
}
.custom-file-input {
  position: absolute;
}

/**
 * Custom input test
 */

.group {
  position:relative;
  margin-bottom:35px;
}
input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus {
  outline:none;
}

.devui-input-label {
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

input:focus ~ .devui-input-label,
input:not(:placeholder-shown) ~ .devui-input-label {
  top:-20px;
  font-size:14px;
}

.bar,
.bar-error {
  position:relative;
  display:block;
  width:300px;
}

.bar:before, .bar:after,
.bar-success:before, .bar-success:after,
.bar-error:before, .bar-error:after {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.bar:before, .bar:after {
  background:#6D64FF;
}
.bar-error:before, .bar-error:after {
  background:#dc3545;
}
.bar-success:before, .bar-success:after {
  background:#28A745;
}

.bar:before,
.bar-success:before,
.bar-error:before {
  left:50%;
}
.bar:after,
.bar-success:after,
.bar-error:after {
  right:50%;
}
input:focus ~ .bar:before, input:focus ~ .bar:after,
input:focus ~ .bar-error:before, input:focus ~ .bar-error:after,
input:focus ~ .bar-success:before, input:focus ~ .bar-success:after {
  width:50%;
}

/**
 * Typography
 */
.devui-tag {
  font-size: 0.7em;
}


/**
 * Checbox
 */

label.checkbox,
label.radio,
label.custom-control-label {
  margin-bottom: 5px;
}
.checkbox input {
  display: none;
  z-index: -9999;
}
.checkbox span {
  position: relative;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  display: inline-block;
  background: #ffffff;
  border: 2px solid #343a40;
  border-radius: 5px;
}
.checkbox input:checked + span {
  background: #343a40;
  background-image: url("http://developer-ui.andrewdetorres.com/Assets/images/Checkbox-mark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.checkbox input:disabled + span {
  background: #d6d6d6;
  border: 2px solid #d6d6d6;
}
.checkbox input:disabled:checked + span {
  background: #d6d6d6;
  border: 2px solid #d6d6d6;
  background-image: url("http://developer-ui.andrewdetorres.com/Assets/images/Checkbox-mark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/**
 * Radio Group
 */


.radio input {
  display: none;
  z-index: -9999;
}
.radio span {
  position: relative;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  display: inline-block;
  background: #ffffff;
  border: 2px solid #343a40;
  border-radius: 100%;
}
.radio input:checked + span {
  background: #343a40;
  background-image: url("http://developer-ui.andrewdetorres.com/Assets/images/Radio-mark.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.radio input:disabled + span {
  background: #d6d6d6;
  border: 2px solid #d6d6d6;
}
.radio input:disabled:checked + span {
  background: #d6d6d6;
  border: 2px solid #d6d6d6;
  background-image: url("http://developer-ui.andrewdetorres.com/Assets/images/Radio-mark.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/**
 * Checkbox
 */

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #343a40;
  background-color: #343A3C;
}
label.custom-control-label:before {
  box-shadow: none !important;
}
.custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: #e9ecef;
  border-color: #adb5bd;
}

/**
 * Custom Card 1
 */

.devui-card {
  position: relative;
  width: 90%;
  max-width: 21rem;
  margin: auto;
  overflow: hidden;
}

.devui-card .devui-card-overlay {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0px;
  border-radius: 5px;
}

.devui-card-image{
  width: 100%;
  border-radius: 5px;
}

.devui-card-details {
  position: absolute;
  text-align: right;
  padding-left: 1em;
  padding-right: 1em;
  bottom: 15px;
  right:15px;
  line-height:0px;
  color: #fff;
  font-size: 0.8em;
}

/**
 * Custom Card 2
 */

.card-tilt {
  -webkit-clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
}

.devui-card-details-2 {
  position: absolute;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
  top: 15px;
  left:0px;
  line-height:0px;
  color: #fff;
  font-size: 1.2em;
}
.devui-card .devui-card-overlay-2 {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0));
  position: absolute;
  top:0px;
  height: 50%;
  width: 100%;
  bottom: 0px;
  border-radius: 5px;
}

/**
 * Custom code copier
 */
 .copy-button {
  position: absolute;
  top: 15px;
  right: 15px;
 }

 /*
  * Maps
  */
  #map1, #map2 {
    height: 300px;
    width: 100%
  }